---
layout: default
title: Research
excerpt:
---

<div class="grid-container">
  <div class="grid-x grid-padding-x">

   {% for page in site.pages %}
   {% if page.url contains 'research' and page.url != '/research/' %}
    <div class="large-4 medium-6 small-12 cell">
      <a href="{{ page.url | prepend: site.baseurl }}">
        <div class="card card--article not-visible" style="min-height: 180px;">
          <div class="card-body">
            <div class="card-title">{{page.title}} {{page.type}}</div>
            <div class="card-description">{{ page.description | truncate: 160 }}</div>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>