<footer class="row" style="background-color: #000; bottom: -5px; width: 100%; z-index: 2;">
  <div class="rounded-social-buttons">
    <a class="social-button fab fa-medium" target="_blank" href="https://medium.com/@jinglesnote"></a>
    <a class="social-button fab fa-linkedin" target="_blank" href="https://www.linkedin.com/in/jingles/"></a>
    <a class="social-button fab fa-github-square" target="_blank" href="https://github.com/jinglescode"></a>
    <a class="social-button fab fa-dev" target="_blank" href="https://dev.to/jinglescode"></a>
  </div>
</footer>
