<footer class="row" style="background-color: #000; position: fixed; bottom: 0px; width: 100%; z-index: 2; margin-top:50px;">
  <div class="rounded-social-buttons">
    <a class="social-button github fi-social-medium" target="_blank" href="https://medium.com/@jinglesnote"></a>
    <a class="social-button github fi-social-linkedin" target="_blank" href="https://www.linkedin.com/in/jingles/"></a>
    <a class="social-button github fi-social-github" target="_blank" href="https://github.com/jinglescode"></a>
    <a class="social-button github fi-wrench" target="_blank" href="https://jinglescode.github.io/demos/"></a>
  </div>
</footer>
