<li><div class="user-view" style="height: 100px;">
  <div class="background">
    <img src="/assets/img/posts/improve-holiday-itinerary-with-machine-learning-21.jpg">
  </div>
  <img class="circle" src="/assets/img/hongjing.jpeg" style="float:left;"/>
  <span class="black-text name" style="padding-left:20px; padding-bottom:10px; float:left;">Jingles (Hong Jing) Site</span>
  <!-- <a href="#email"><span class="white-text email"></span></a> -->
</div></li>
<li><a href="/" class="tooltipped" data-position="top" data-tooltip="Blog"><i class="fas fa-blog"></i><span id="menu-text">Blog</span></a></li>
<li><a href="/playground/" class="tooltipped" data-position="top" data-tooltip="Showcase Projects"><i class="fas fa-laptop-code"></i><span id="menu-text">Showcase Projects</span></a></li>
<li><a href="/research/" class="tooltipped" data-position="top" data-tooltip="Published Work"><i class="fa fa-book"></i><span id="menu-text">Published Work</span></a></li>
<li><a href="/about/" class="tooltipped" data-position="top" data-tooltip="About Me"><i class="fas fa-user"></i><span id="menu-text">About</span></a></li>
<li><div class="divider"></div></li>
<li><a href="https://medium.com/@jinglesnote" target="_blank"><i class="fab fa-medium"></i><span id="menu-text">Medium</span></a></li>
<li><a href="https://www.linkedin.com/in/jingles" target="_blank"><i class="fab fa-linkedin"></i><span id="menu-text">LinkedIn</span></a></li>
<li><a href="https://github.com/jinglescode" target="_blank"><i class="fab fa-github-square"></i><span id="menu-text">GitHub</span></a></li>
