<div class="navbar-fixed">
  <nav class="z-depth-2 nav-bar" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo truncate">
        <span class="hide-on-med-and-down">{{ page.title }}</span>
        <!-- <span class="hide-on-large-only">Jingles</span> -->
        <!-- {{page.title}} -->
        <!-- <img class="circle" src="/assets/img/hongjing.jpeg" style="float:left; height:80%; margin-top:6px;"/> -->
      </a>
      <ul class="right hide-on-med-and-down">
        {% include navbaritems.html %}
      </ul>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</div>
<ul id="slide-out" class="sidenav">
  {% include navbaritems.html %}
</ul>
