<div class="top-bar">
  <!-- <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"></li>
    </ul>
  </div> -->

<!-- <div class="top-bar-right">
  <div class="rounded-social-buttons">
    <a class="social-button github fi-home" href="/"></a>
    <a class="social-button github fi-info" href="/about"></a>
    <a class="social-button github fi-list-thumbnails" href="/notes"></a>
  </div>
</div> -->

  <div class="top-bar-right">
    <ul class="menu">
      {% for item in site.data.navigation %}
      <li><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>
