<div class="top-bar" style="background-color: #000;">

  <div class="top-bar-left" style="max-width: 160px;">
    <div class="rounded-social-buttons">
      <a class="social-button fas fa-home" href="/"></a>
      <a class="social-button far fa-star" href="/demos"></a>
      <a class="social-button fas fa-user" href="/pages/about"></a>
    </div>
  </div>


  <!-- <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"></li>
    </ul>
  </div> -->

<!-- <div class="top-bar-right">
  <div class="rounded-social-buttons">
    <a class="social-button github fi-home" href="/"></a>
    <a class="social-button github fi-info" href="/about"></a>
    <a class="social-button github fi-list-thumbnails" href="/notes"></a>
  </div>
</div> -->

  <div class="top-bar-right" style="max-width: 260px; text-align: right; display: none;">

    <div class="rounded-social-buttons">
      <a class="social-button fab fa-medium" target="_blank" href="https://medium.com/@jinglesnote"></a>
      <a class="social-button fab fa-linkedin" target="_blank" href="https://www.linkedin.com/in/jingles/"></a>
      <a class="social-button fab fa-github-square" target="_blank" href="https://github.com/jinglescode"></a>
      <a class="social-button fab fa-dev" target="_blank" href="https://dev.to/jinglescode"></a>
    </div>

  </div>

</div>
