<div class="col s12 m6 l4">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light" style="">
        <img class="activator" src="{{post.image-thumb}}" style="height:180px; object-fit: cover">
      </div>
      <div class="card-content" style="height:140px; overflow:hidden;">
        <span class="card-title activator grey-text text-darken-4" style="font-size:20px;">
          {{post.title}}
          <!-- <i class="material-icons right">more_vert</i> -->
        </span>
      </div>
      <!-- <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <span class="new badge blue" data-badge-caption="{{ post.date | date_to_string }}"></span>
          {{post.title}}
        </span>
        <p>{{ post.description }}</p>
      </div> -->
    </div>
  </a>
</div>
