
body {
  height: 100%;
  background-color: #f5f5f7;
  cursor: default;
}

.nav-bar{
  background-color: rgba(0,0,0,0.8);
  /* background-color: rgba(255,255,255,0.72); */
  backdrop-filter: saturate(180%) blur(5px);
}
.nav-bar #menu-text, .nav-bar .user-view{
  display: none;
}

.nav-bar .brand-logo{
  height:100%;
  font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 300;
}
/* .nav-bar ul a {
  color: #000;
  opacity: .88;
} */

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.blog-content{
  font-family: 'Lato', sans-serif;
  color: #1d1d1f;
  font-size: 22px; font-weight: 300;
}
.blog-content .title {
  font-size: 40px;
  line-height: 48px;
  margin: 0px;
}
.blog-content .subtitle {
  font-size: 20px;
  line-height: 32px;
  margin: 0px;
}

.blog-content p {
  margin: 0px 0px 20px 0px !important;
}
.blog-content h1 {
  font-size: 2rem;
  font-weight: 300;
}
.blog-content h2 {
  font-size: 1.7rem;
  font-weight: 300;
}
.blog-content ul, ol {
  margin-top: 0px;
}
.blog-content ul:not(.dropdown-content) li {
  list-style-type: square !important;
  margin-left: 50px;
}
.blog-content img {
  background-color: #fff;
  width: 100%;
}
.blog-content tr {
  border: none;
}

.blog-content .highlighter-rouge {
  /* padding: 7px 12px 7px 12px; */
  padding: 2px 7px 2px 7px;
  border: solid 1px rgba(51,51,51,0.12);
  background: rgba(226,226,226,0.2);
  margin-bottom: 20px;
  overflow: scroll;
}
.blog-content code{
  color: #24292e;
  font-size: 18px;
}
.blog-content .highlighter-rouge pre {
  margin: 0px;
}
.blog-content .highlighter-rouge pre code {
  font-size: 16px;
}


#about-page{
  font-family: 'Lato', sans-serif;
  color: #1d1d1f;
  font-size: 22px; font-weight: 300;
}
#about-page .modal-trigger .card-image img{
  height:180px; object-fit: contain;
}
#about-page .modal-trigger .card-content{
  height:100px; overflow:hidden;
}

#about-page .card-title{
  font-size:30px;
}
#about-page h1{
  font-size:26px;
  margin: 1rem 0 0.2rem 0;
  font-weight: 300;
}
#about-page h2{
  font-size:24px;
  margin: 1rem 0 0.2rem 0;
  font-weight: 300;
}
#about-page ul{
  margin-top: 0px;
}
#about-page li{
  list-style-type: square;
  margin-left: 40px;
}
#about-page .modal {
  max-height: 88%;
  width: 70%;
}
@media only screen and (max-width: 992px) {
  #about-page .modal {
    width: 90%;
  }
}
