---
layout: main
title: Word of God
excerpt: My readings and its notes
---

<div class="section section-basic">
  <div class="container">
    <div class="row">

      {% for page in site.pages %}
      {% if page.url contains 'wordofgod' and page.url != '/pages/wordofgod/' %}

      <div class="col-sm-6 col-md-6">
        <a href="{{ page.url | prepend: site.baseurl }}">
          <div class="card">
            <div class="card-body" style="height:200px">
              <div class="card-title">{{page.title}} {{page.type}}</div>
              <div class="card-description">{{ page.description | truncate: 160 }}</div>
            </div>
          </div>
        </a>
      </div>

      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
