---
layout: main
title: Browse Articles by Tags
excerpt: Browse Jingles articles by tags, about machine learning, data science, programming and personal growth
permalink: tags/
---

<!-- <div class="section section-basic">
  <div class="container">

    <ul class="collapsible expandable popout">
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags %}
        <li>
          <div class="collapsible-header" style="text-transform:capitalize;">{{ tag | first }}</div>
          <div class="collapsible-body">
            <div class="collection">
              {% for post in tag[1] %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="collection-item">
                  {{ post.title }}
                  <span class="new badge blue" data-badge-caption="{{ post.date | date_to_string }}"></span>
                </a>
              {% endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

  </div>
</div> -->

<div class="section section-basic">
  <div class="container">

    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
    <div class="row">

      <div class="col-sm-12">

        <div class="card">
          <div class="card-content">
            <span class="card-title" style="text-transform:capitalize;">{{ tag | first }}</span>
            <div class="collection">
              {% for post in tag[1] %}
                {% if post.show_homepage != false %}
                <a href="{{ site.baseurl }}{{ post.url }}" class="collection-item grey-text text-darken-3">
                  <span class="new badge blue hide-on-small-only" data-badge-caption="{{ post.date | date_to_string }}"></span>
                  {{ post.title }}
                </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

      </div>

    </div>
    {% endfor %}

  </div>
</div>
