---
layout: main
title: Browse Articles by Tags
excerpt: Browse Jingles articles by tags, about machine learning, data science, programming and personal growth
---

<div class="section section-basic">
  <div class="container">

    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
    <div class="row" id="{{ tag[0] | slugify }}">

      <div class="col-sm-12">

        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ tag | first }}</h2>

            <div class="card-description">
              {% for post in tag[1] %}
                <a href="{{ site.baseurl }}{{ post.url }}" style="font-size: 20px;">
                  {{ post.title }}
                  <small>- {{ post.date | date_to_string }}</small>
                </a><br/>
              {% endfor %}
            </div>
            <div class="card-footer">

            </div>

          </div>
        </div>

      </div>

    </div>
    {% endfor %}

  </div>
</div>
