<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{page.title}} - Hong Jing (Jingles)</title>
  <link rel="icon" type="image/png" href="{{'/assets/img/favicon.png?v=' | append: site.github.build_revision | relative_url}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel='stylesheet' type='text/css'>
  <link href="{{'/assets/css/materialize.min.css?v=' | append: site.github.build_revision | relative_url}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{'/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url}}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="preload" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" as="style" onload="this.rel='stylesheet'">
  {%if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {%endif %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49548145-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-49548145-2');
  </script>
  {% seo title=false %}
</head>
<body>

  {% include navbar.html %}
  {{ content }}

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{'/assets/js/materialize.min.js?v=' | append: site.github.build_revision | relative_url}}" type="text/javascript"></script>
  <script>
   $(document).ready(function(){
     $('.materialboxed').materialbox();
     $('.modal').modal();
     $('.collapsible').collapsible();
     $('.modal').modal();
     $('.tooltipped').tooltip();
     $('.sidenav').sidenav();
   });
  </script>

  </body>
</html>
