---
layout: main
---
<div class="section section-basic" id="basic-elements">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>
          {{page.title}}
          <br>
          <small>{{page.description}}</small>
        </h2>

        <div class="markdown-content">
          {{ content }}
        </div>

        <span class="badge badge-default">{{ page.date | date_to_string }}</span>

        <a href="/tags/">
        {{page.tag}}
        {% for tag in page.tags %}
          <span class="badge badge-primary">{{tag}}</span>
        {% endfor %}
        </a>

      </div>
    </div>

  </div>

</div>

<div class="section section-basic">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2>Thanks for reading!</h2>
      </div>
    </div>
    <div class="row">

      {% assign maxRelated = 6 %}
      {% assign minCommonTags = 2 %}
      {% assign maxRelatedCounter = 0 %}
      {% assign numRelatedStories = 0 %}

      {% for post in site.posts %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for tag in post.tags %}
          {% if post.url != page.url %}
            {% if page.tags contains tag %}
              {% assign sameTagCount = sameTagCount | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
              {% assign commonTags = commonTags | append: tagmarkup %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}
          {% include post_card.html %}
          {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
          {% if maxRelatedCounter >= maxRelated %}
            {% break %}
          {% endif %}
        {% endif %}

      {% endfor %}

      <!-- END of try 2 tags, now try 1 tag -->

      {% if maxRelatedCounter <= maxRelated %}

        {% for post in site.posts %}

          {% if maxRelatedCounter >= maxRelated %}
            {% break %}
          {% endif %}

          {% assign sameTagCount = 0 %}
          {% assign commonTags = '' %}

          {% for tag in post.tags %}
            {% if post.url != page.url %}
              {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
                {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                {% assign commonTags = commonTags | append: tagmarkup %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if sameTagCount == 1 %}
            {% include post_card.html %}
            <!-- <div class="col-sm-6 col-md-6 col-lg-4">
              <a href="{{ post.url | prepend: site.baseurl }}">
                <div class="card">
                  <div class="card-body" style="height:436px;">
                    <div class="card-image" style="background-image: url({{post.image}})"></div>
                    <span class="badge badge-default">{{ post.date | date_to_string }}</span>
                    <div class="card-title">a{{post.title}} {{post.type}}</div>
                    <div class="card-description">{{ post.description | truncate: 160 }}</div>
                  </div>
                </div>
              </a>
            </div> -->

            {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}

          {% endif %}

        {% endfor %}

      {% endif %}

      <!-- END of try 1 tags -->

    </div>
  </div>
</div>
